# Python
__pycache__

# YAML config
*.yml
*.yaml

# secrets
*secrets*
*.pem
# Postgres
pgdata

# VS code
.vscode

#jupyter
.ipynb_checkpoints

#other
sample.json
emr_cluster_setup_example.sh

#Environments
spark_venv/
twitter_handle_venv/
dashboard_venv/
airflow_venv/

#temp stuff
temp/
