# Python
__pycache__
# secrets
.env
*secrets*
*.pem
# Postgres
pgdata
postgres-data
# VS code
.vscode
#jupyter
.ipynb_checkpoints
#other
sample.json
emr_cluster_setup_example.sh
#Environments
*_venv/
#temp stuff
temp/
#terraform
terraform*
.terraform*
